doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/stylesheets/navBar.css')
    link(href='/stylesheets/peacockweb.css', rel='stylesheet', type='text/css')
    script.
      var __adobewebfontsappname__="dreamweaver"
    script(src='http://use.edgefonts.net/source-sans-pro:n2:default.js', type='text/javascript')
    title Kyle Peacock
    link(rel='stylesheet', href='/stylesheets/resume.css')
  body
    header
      .peacockLogo
        a(href='/')
          img.profileLogo(src='/images/peacock.svg', alt='', height='40px')
        nav
          .navBar
            li
              a(href='/kyle') Home
            li
              a(href='/kyle/projects') Projects
            li.active Resume
        br
    .wrapper    
      .header
        a(class='pdf' href='/kyle/download')
          | Download as PDF 
        br 
        h1 Kyle Peacock
        h5
          | 815 Spring Drive
          space |
          |  Walnut Creek, CA 93498
          space |
          |  925.978.3489
          space |
          |  kylpeacock@gmail.com
      hr
      div
        h3 Objective
        p
          | To create value for my employer by crafting excellent user experiences and positive impressions of the company.
          | I want to find an agile team where my passion for intuitive design and scalable solutions will contribute to my project's success.
      hr
      .education
        h3 Education
        .dateTitle
          span August 2015 - December 2015
          br
          left J.D. Candidate
          right U.C. Davis School of Law, California
          br
        br
        .dateTitle
          span August 2011 - May 2015
          br
          left Bachelor of the Arts in Political Science & Philosophy
          right  Wheaton College, Illinois
          br
        br
        hr
      .experience
        h3 Experience
        .dateTitle
          span January 2016 - Current
          br
          | 			Programmer
          space |
          |  Galvanize Full Stack
          space |
          |  San Francisco
          br
        .description
          | Recieved professional training in the latest Javascript-based full stack web development.
        br
        .dateTitle
          span January 2015 - May 2015
          br
          | 			Policy Intern
          space |
          |  Cabrini Green Legal Aid
          space |
          |  Chicago
        .description
          | Produced publications for the HB 484 Education bill in Illinois for the Spring Legislative Session, providing administrative support, graphic design, and raising awareness.
        br
        .dateTitle
          span May 2014 - August 2014
          br
          | 			City Manager Intern
          space |
          |  City of Walnut Creek
        .description
          | Responsibilities included research,
          | writing, graphic design, photography and proofreading.
        br
        .dateTitle
          span June 2011 - August 2014
          br
          | 			Lifeguard
          space |
          |  Clarke Memorial Swim Center
          space | 
          |  Walnut Creek
        .description
          | Seasonal lifeguard and swim instructor employed by the City of Walnut Creek.
      .accomplishments
        h3 Recognitions
        .dateTitle
          span April 2016
          br
          | 			2nd place of 30+ teams
          space |
          |  AngelHack SF
        .description
          | Desgined, produced, and pitched a grocery management application in 24 hours with a team of five.
        .dateTitle
          span August 2014
          br
        .description
          | Had a three page article on the history of Walnut Creek published in the city's newsletter, the Nutshell.
      div    
        .skills
          h3 Skills
          left
            li Javascript 
            li NodeJS
            li React
            li Express
            li Git
          right
            li Public Speaking
            li Agile Development
            li User Experience 
            li Product Management
            li Creative Cloud
      .interests
        hr
        h3 Personal
        p
          | Former competitive swimmer, debate coach, classically trained singer. Getting married this summer!
