.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.881836;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.119520px;}
.ls1{letter-spacing:0.000000px;}
.lsa{letter-spacing:0.009600px;}
.ls11{letter-spacing:0.038880px;}
.ls4{letter-spacing:0.161376px;}
.lsc{letter-spacing:0.169248px;}
.lsd{letter-spacing:0.212544px;}
.ls7{letter-spacing:0.255840px;}
.ls9{letter-spacing:0.279456px;}
.ls3{letter-spacing:0.318816px;}
.ls6{letter-spacing:0.362112px;}
.lse{letter-spacing:0.385728px;}
.lsf{letter-spacing:0.425088px;}
.ls8{letter-spacing:0.468384px;}
.lsb{letter-spacing:0.492000px;}
.ls10{letter-spacing:0.574656px;}
.ls5{letter-spacing:0.598272px;}
.ls12{letter-spacing:0.641568px;}
.ls0{letter-spacing:6.024000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-6.481480px;}
._2{margin-left:-1.028864px;}
._4{width:1.132160px;}
._0{width:6.215040px;}
._1{width:32.799600px;}
._a{width:36.576000px;}
._3{width:42.952320px;}
._9{width:51.838272px;}
._5{width:56.192976px;}
._b{width:104.894952px;}
._8{width:124.320000px;}
._c{width:129.127176px;}
._6{width:134.160000px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:15.360000px;}
.fs6{font-size:25.920000px;}
.fs2{font-size:39.360000px;}
.fs3{font-size:43.200000px;}
.fs4{font-size:48.000000px;}
.fs1{font-size:79.680000px;}
.fs0{font-size:120.000000px;}
.y1{bottom:18.599980px;}
.y3a{bottom:76.080060px;}
.y39{bottom:90.240020px;}
.y38{bottom:105.840020px;}
.y37{bottom:120.240020px;}
.y36{bottom:130.320020px;}
.y35{bottom:136.800020px;}
.y34{bottom:148.800020px;}
.y0{bottom:153.000000px;}
.y33{bottom:154.800020px;}
.y32{bottom:167.040020px;}
.y31{bottom:177.840020px;}
.y30{bottom:184.080020px;}
.y2f{bottom:196.320020px;}
.y2e{bottom:200.880020px;}
.y2d{bottom:206.880020px;}
.y2b{bottom:219.120020px;}
.y2c{bottom:223.680120px;}
.y2a{bottom:229.920020px;}
.y29{bottom:236.160020px;}
.y28{bottom:248.160020px;}
.y27{bottom:254.160020px;}
.y26{bottom:266.400020px;}
.y25{bottom:281.040020px;}
.y24{bottom:293.040020px;}
.y23{bottom:299.040020px;}
.y22{bottom:311.280020px;}
.y21{bottom:329.280020px;}
.y20{bottom:343.680020px;}
.y1f{bottom:359.040020px;}
.y1e{bottom:371.280020px;}
.y1d{bottom:389.280020px;}
.y1c{bottom:403.680020px;}
.y1b{bottom:419.280020px;}
.y1a{bottom:431.520020px;}
.y19{bottom:443.520020px;}
.y18{bottom:458.640020px;}
.y17{bottom:473.040020px;}
.y16{bottom:487.200020px;}
.y15{bottom:493.680020px;}
.y14{bottom:506.880020px;}
.y13{bottom:520.080120px;}
.y12{bottom:531.600020px;}
.y11{bottom:543.600020px;}
.y10{bottom:555.840020px;}
.yf{bottom:568.080120px;}
.ye{bottom:578.880020px;}
.yd{bottom:585.360020px;}
.yc{bottom:604.800020px;}
.yb{bottom:614.880020px;}
.ya{bottom:621.120020px;}
.y9{bottom:650.160120px;}
.y4{bottom:650.640120px;}
.y8{bottom:663.360020px;}
.y3{bottom:664.320020px;}
.y7{bottom:676.800020px;}
.y2{bottom:689.280020px;}
.y6{bottom:690.240020px;}
.y5{bottom:703.920020px;}
.h8{height:10.410000px;}
.hb{height:10.672500px;}
.hd{height:18.009844px;}
.ha{height:26.675625px;}
.h5{height:27.348281px;}
.h9{height:27.751875px;}
.h6{height:28.792969px;}
.h7{height:32.531250px;}
.hc{height:33.843750px;}
.h4{height:55.363594px;}
.h3{height:83.378906px;}
.h1{height:580.000000px;}
.h2{height:754.800000px;}
.h0{height:792.000000px;}
.w1{width:471.000000px;}
.w2{width:578.800000px;}
.w0{width:612.000000px;}
.x1{left:16.600000px;}
.x4{left:55.920000px;}
.xb{left:62.639980px;}
.x0{left:71.000000px;}
.xe{left:73.919890px;}
.x2{left:125.789100px;}
.x3{left:145.698300px;}
.xf{left:201.146400px;}
.x10{left:207.646400px;}
.xc{left:239.520000px;}
.x9{left:275.910200px;}
.xa{left:289.920000px;}
.x7{left:389.039980px;}
.x5{left:406.190100px;}
.x6{left:407.950180px;}
.x8{left:411.049890px;}
.xd{left:416.400000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.159360pt;}
.ls1{letter-spacing:0.000000pt;}
.lsa{letter-spacing:0.012800pt;}
.ls11{letter-spacing:0.051840pt;}
.ls4{letter-spacing:0.215168pt;}
.lsc{letter-spacing:0.225664pt;}
.lsd{letter-spacing:0.283392pt;}
.ls7{letter-spacing:0.341120pt;}
.ls9{letter-spacing:0.372608pt;}
.ls3{letter-spacing:0.425088pt;}
.ls6{letter-spacing:0.482816pt;}
.lse{letter-spacing:0.514304pt;}
.lsf{letter-spacing:0.566784pt;}
.ls8{letter-spacing:0.624512pt;}
.lsb{letter-spacing:0.656000pt;}
.ls10{letter-spacing:0.766208pt;}
.ls5{letter-spacing:0.797696pt;}
.ls12{letter-spacing:0.855424pt;}
.ls0{letter-spacing:8.032000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-8.641973pt;}
._2{margin-left:-1.371819pt;}
._4{width:1.509547pt;}
._0{width:8.286720pt;}
._1{width:43.732800pt;}
._a{width:48.768000pt;}
._3{width:57.269760pt;}
._9{width:69.117696pt;}
._5{width:74.923968pt;}
._b{width:139.859936pt;}
._8{width:165.760000pt;}
._c{width:172.169568pt;}
._6{width:178.880000pt;}
.fs5{font-size:20.480000pt;}
.fs6{font-size:34.560000pt;}
.fs2{font-size:52.480000pt;}
.fs3{font-size:57.600000pt;}
.fs4{font-size:64.000000pt;}
.fs1{font-size:106.240000pt;}
.fs0{font-size:160.000000pt;}
.y1{bottom:24.799973pt;}
.y3a{bottom:101.440080pt;}
.y39{bottom:120.320027pt;}
.y38{bottom:141.120027pt;}
.y37{bottom:160.320027pt;}
.y36{bottom:173.760027pt;}
.y35{bottom:182.400027pt;}
.y34{bottom:198.400027pt;}
.y0{bottom:204.000000pt;}
.y33{bottom:206.400027pt;}
.y32{bottom:222.720027pt;}
.y31{bottom:237.120027pt;}
.y30{bottom:245.440027pt;}
.y2f{bottom:261.760027pt;}
.y2e{bottom:267.840027pt;}
.y2d{bottom:275.840027pt;}
.y2b{bottom:292.160027pt;}
.y2c{bottom:298.240160pt;}
.y2a{bottom:306.560027pt;}
.y29{bottom:314.880027pt;}
.y28{bottom:330.880027pt;}
.y27{bottom:338.880027pt;}
.y26{bottom:355.200027pt;}
.y25{bottom:374.720027pt;}
.y24{bottom:390.720027pt;}
.y23{bottom:398.720027pt;}
.y22{bottom:415.040027pt;}
.y21{bottom:439.040027pt;}
.y20{bottom:458.240027pt;}
.y1f{bottom:478.720027pt;}
.y1e{bottom:495.040027pt;}
.y1d{bottom:519.040027pt;}
.y1c{bottom:538.240027pt;}
.y1b{bottom:559.040027pt;}
.y1a{bottom:575.360027pt;}
.y19{bottom:591.360027pt;}
.y18{bottom:611.520027pt;}
.y17{bottom:630.720027pt;}
.y16{bottom:649.600027pt;}
.y15{bottom:658.240027pt;}
.y14{bottom:675.840027pt;}
.y13{bottom:693.440160pt;}
.y12{bottom:708.800027pt;}
.y11{bottom:724.800027pt;}
.y10{bottom:741.120027pt;}
.yf{bottom:757.440160pt;}
.ye{bottom:771.840027pt;}
.yd{bottom:780.480027pt;}
.yc{bottom:806.400027pt;}
.yb{bottom:819.840027pt;}
.ya{bottom:828.160027pt;}
.y9{bottom:866.880160pt;}
.y4{bottom:867.520160pt;}
.y8{bottom:884.480027pt;}
.y3{bottom:885.760027pt;}
.y7{bottom:902.400027pt;}
.y2{bottom:919.040027pt;}
.y6{bottom:920.320027pt;}
.y5{bottom:938.560027pt;}
.h8{height:13.880000pt;}
.hb{height:14.230000pt;}
.hd{height:24.013125pt;}
.ha{height:35.567500pt;}
.h5{height:36.464375pt;}
.h9{height:37.002500pt;}
.h6{height:38.390625pt;}
.h7{height:43.375000pt;}
.hc{height:45.125000pt;}
.h4{height:73.818125pt;}
.h3{height:111.171875pt;}
.h1{height:773.333333pt;}
.h2{height:1006.400000pt;}
.h0{height:1056.000000pt;}
.w1{width:628.000000pt;}
.w2{width:771.733333pt;}
.w0{width:816.000000pt;}
.x1{left:22.133333pt;}
.x4{left:74.560000pt;}
.xb{left:83.519973pt;}
.x0{left:94.666667pt;}
.xe{left:98.559853pt;}
.x2{left:167.718800pt;}
.x3{left:194.264400pt;}
.xf{left:268.195200pt;}
.x10{left:276.861867pt;}
.xc{left:319.360000pt;}
.x9{left:367.880267pt;}
.xa{left:386.560000pt;}
.x7{left:518.719973pt;}
.x5{left:541.586800pt;}
.x6{left:543.933573pt;}
.x8{left:548.066520pt;}
.xd{left:555.200000pt;}
}
